    <li class="w50"><i></i>
        <a href="http://www.beijing.gov.cn/fuwu/bmfw/bmdh/jt/xkczb/xkczbbmjy/202109/t20210924_2501354.html" target="_blank">如何查询小客车指标中签结果？</a>
    </li>


        <li class="w50"><i></i>>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/bszn/2018115/1515979171232_1.html">
                个人申请小客车指标申请
            </a>
        </li>

        <li class="w50"><i></i>>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/bszn/20201230/1609342087846_1.html">
                家庭申请小客车指标申请
            </a>
        </li>

        <li class="w50"><i></i>>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/bszn/2018115/1515979033899_1.html">
                单位申请小客车指标申请
            </a>
        </li>

        <li class="w50"><i></i>>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/bszn/2018115/1515978947772_1.html">
                京牌小客车被盗抢指标申请
            </a>
        </li>
    <li class="w50"><i></i>>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/bszn/202148/1617863272613_1.html">
                个人或单位小客车指标申请资格复核
            </a>
        </li>
    <li class="w50"><i></i>
            <a target="_blank" href="https://xkczb.jtw.beijing.gov.cn/jggb/index.html">
                小客车指标配置结果
            </a>
        </li>

   