<div class="title b">相关链接</div>
<ul class="list clearfix">
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/cn/competition_zones/beijing.htm">北京赛区</a></li>
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/cn/competition_zones/yanqing.htm">延庆赛区</a></li>
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/cn/competition_zones/zhangjiakou.htm">张家口赛区</a></li>
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/cn/schedule/calendar.htm">竞赛日程</a></li>
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/cn/presscentre/officialrelease.htm">官方发布</a></li>
    <li class="w50"><i></i><a href="https://www.beijing2022.cn/rpps/UncommercialUse.htm">文件下载</a></li>
</ul>